<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body><br><br>
    <h3>Add a New Book</h3><br>
    <form method="post">
        {% csrf_token %}
        <label for="callno">Call Number:</label>
        <input type="text" id="callno" name="callno" required style="margin-left : 75px;"><br><br>

        <label for="title">Title:</label>
        <input type="text" id="title"  name="title" required style="margin-left : 134px;"><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author"  name="author" required style="margin-left : 117px;"><br><br>

        <label for="year_of_published">Year of Published:</label>
        <input type="number" id="year_of_published"  name="year_of_published" required min="1997" max="2023" style="margin-left : 39px;"><br><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required style="margin-left : 127px;"><br><br>

        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" name="publisher" required style="margin-left : 97px;"><br><br>

        <label for="pages">Pages:</label>
        <input type="number" id="pages" name="pages" required style="margin-left : 116px;"><br><br>

        <label for="type_of_book">Type of Book:</label>
        <select  id="type_of_book" name="type_of_book" style="margin-left : 70px;">
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
            <option value="Science">Science</option>
            <option value="Biography">Biography</option>
            <option value="Computer Science">Computer Science</option>
            <!-- Add more options as needed -->
        </select><br><br>

        <label for="available_copies">Available Copies:</label>
        <input type="number" id="available_copies" name="available_copies" required style="margin-left : 45px;"><br><br>

        <label for="total_copies">Total Copies:</label>
        <input type="number" id="total_copies" name="total_copies" required style="margin-left : 76px;"><br><br>

        <label for="active">Active:</label>
        <input type="checkbox"  id="active" name="active" style="margin-left : 120px;"><br><br>

        <button type="submit">Add Book</button>
    </form>
</body>
</html>
